body {
    padding: 10px;
}
.card-img {
    width: 500px;
    max-height: 250px;
    object-fit: scale-down;
    padding: 4px;
}
.card-link:link, .card-link:visited {
    color: black;
    text-decoration: none;
  }
  
.card-link:link:active, .card-link:visited:active {
    background-color: gray;
    text-decoration: none;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 600;
}
h5 {
    font-weight: 600;
}


.big-image {
    width: auto;
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}
button {
    margin-bottom: 30px;
}