{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'auctions/css/bootstrap.min.css' %}" >
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
        <h1>Auctions</h1>
        
        <ul class="nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crtauction' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <div class="">
            {% if user.is_authenticated %}
            <div class="account">
                <strong>{{ user.username }}</strong>
                <div class="account-drop">
                    <p>Signed in as <b>{{ user.username }}</b></p>
                    <a class="btn-logging d-block" href="{% url 'logout' %}">Log Out</a>
                </div>
                </div>
            {% else %}
            <a class="btn-logging" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </nav>
        
<div class="container">
        {% block body %}
        {% endblock %}
</div>
    </body>
</html>