{% extends "auctions/layout.html" %}

{% block body %}


        <div class="container">
            <div class="login-card">
                <div class="row m-0">
                <div class="col-md-8">
                    <h1 class="" style="color: rgb(4, 106, 197); text-align: left; font-size: 28px; text-shadow: 2px rgb(255, 255, 255);letter-spacing: -0.2rem;">Auctions</h1>
                    <div class="py-4 px-5">
                    <h2>Sign in to Account</h2>
                    <hr>

                    {% if message %}
                        <div>{{ message }}</div>
                    {% endif %}
                
                    <form action="{% url 'login' %}" method="post" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group mb-5">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="login-btn" type="submit" value="Login">
                    </form>
                </div></div>
                <div class="col-md-4 d-flex align-items-center">
                    <div class="signup">
                    <h1>Hello, Friend</h1>
                    <hr style="border-color: white;">
                    <p class="pb-4">Fill up personl information and<br> start journey with us.</p>
                        <a href="{% url 'register' %}" class="signup-btn"> Sign Up</a>
                </div>
                </div>
            </div>
    </div></div>

{% endblock %}